html, body {
  height: 100vh;
  background: darkseagreen;
}

.app {
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.app-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.layout {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
}

.app-footer {
  background-color: #282c34;
  min-height: 8vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.app-content {
  margin: 1vh;
  min-height: 80vh;
  max-width: 30%;
}

.nav-list {
  padding: 20px;
}
